
@import './variables.scss';

@import './components/button.scss';
@import './components/answers.scss';
@import './components/start.scss';
@import './components/quizdisplay.scss';


body {
    font-family: $font, sans-serif;
    font-weight: 400;
    background-color: rgba(210, 233, 241, 0.979);
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}