@import './components/button.scss';

body {
    font-family: sans-serif;
}

.answer {
    padding: 0.5em 1em; 
    border-radius: 10px;
    background-color: cadetblue;
    cursor: pointer;
}

.answers {
    display: flex;
    margin: 0.75em;
    justify-content: space-between;

}