.correct-unselected {
    background-color: pink;
}

.correct-selected {
    background-color: chocolate;
}

.selected-incorrect {
    background-color: cornflowerblue;
}

.unselected {
    background-color: cadetblue;
}