.correct-unselected {
    background-color: pink;
}

.correct-selected {
    background-color: chocolate;
}

.selected-incorrect {
    background-color: cornflowerblue;
}

.unselected {
    background-color: cadetblue;
}

.selected {
    background-color: #ccc;
}

.answer {
    padding: 0.5em 1em; 
    border-radius: 10px;
    cursor: pointer;
}

.answers {
    display: flex;
    margin: 0.75em;
    justify-content: space-between;
}