.correct-unselected {
    background-color: pink;
}

.correct-selected {
    background-color: chocolate;
}
.answer {
    padding: 0.5em 1em; 
    margin: 0.25em;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.85rem;
}

.answers {
    display: flex;
    margin: 0.75em;
    justify-content: space-between;
}

