.btn {
    border: none;
    padding: 1em 3em;
    margin: 0.5em;
    border-radius: 10px;
    cursor: pointer;

    font-family: $font, sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    

    background-color: $primary-color;
    color: #fff;
    max-width: 500px;
    align-self: center;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.34); 
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.34);
}

.btn:hover,
.btn:focus {
    transition: background-color 1s ease-in;
    background-color: $bg-color;
}

.btn:active {
    transition: transform .5s;
    transform: translateY(2px);
    
}