.category {
    padding: 0.5em 1em; 
    margin: 0.25em;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.85rem;
    
}

.categories {
    grid-area: category;
}

.container-category {
    display: grid;
    grid-template-areas: "header header header header"
                        "category category category category"
                        ". footer footer .";
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin: auto;
    width: 70%;
    background-color: #fff;
    border-radius: 15px;
    padding: 2em;

    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.34); 
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.34);

    .headline {
        grid-area: header;
    }

    .btn {
        grid-area: footer;
    }
}