.container {

    &--start {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: auto;
        width: 50%;
        background-color: $bg-color;
    }
}

.headline {
    font-size: 2rem;
    margin: 0.3em;
}

.start--desc {
    margin: 0.2em;
}